@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Condensed&display=swap");
:root {
  --font-body: "Roboto Condensed", sans-serif;
  --font-headline: "Righteous", cursive;
  /* colors */
  --primary-color: #a8c686;
  --secondary-color: #9d9c62;
  --tertiary-color: #e4572e;
  --additional-color: #f0f66e;
  --bg-color: #f0f8ea;
  --font-color: black;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
/* Standart styles */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--font-color);
  background-color: var(--bg-color);
  min-height: 100vh;
  position: relative;
}
h1,
h2,
h3 {
  font-family: var(--font-headline);
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  width: 100%;
  background-color: var(--primary-color);
}
.logo {
  line-height: 60px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.centered {
  margin: auto;
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a,
nav a {
  text-decoration: none;
  color: var(--font-body);
}
.tertiary {
  color: var(--tertiary-color);
}
nav {
  padding: 10px 0;
}
nav img {
  height: 40px;
}
nav a {
  margin: auto 5px;
}
/* FOOTER */
footer {
  font-size: var(--small-font);
  padding: 1em;
  width: 100%;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: 0;
}
/* General */
.hide,
.mobile-hide {
  display: none;
}
main {
  padding-bottom: 3em;
}
main h1 {
  text-align: center;
}
/* Main page */
.mission {
  padding: 0 0.5em;
  line-height: 1.3em;
  max-width: 600px;
  margin: auto;
  text-align: center;
}
.mission h1 {
  font-size: 2em;
}
.variants {
  padding: 0.5em;
}
.var-grid {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: var(--font-color);
  padding-left: 0;
}
.var-grid > li {
  width: 40%;
  padding: 0.5em;
  margin: 1em;
  border: 1px black solid;
  border-radius: 10px;
  background-color: var(--primary-color);
  transition: transform 2s;
}
.var-grid li:nth-child(1) {
  width: 60%;
  font-size: 1.2em;
}
.var-grid h2 {
  margin: 0;
  font-size: 1.2em;
}
.var-grid p {
  height: 2em;
}
.var-grid a {
  text-decoration: none;
}
.var-grid a:link,
.var-grid a:visited {
  color: var(--dark-grey);
}
.var-grid li:hover {
  box-shadow: 0 0 30px var(--secondary-color);
  transform: scale(1.2);
}
/* Additional pages */
#content {
  margin: 0 auto;
  max-width: 860px;
}
/* Tables */
table {
  width: 100%;
  margin: 5px auto;
  border-collapse: collapse;
}
table th,
table td {
  border: 1px black solid;
  padding: 2px;
  text-align: center;
}
table td {
  font-size: 0.8em;
}
table a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-weight: bolder;
  font-size: 1.5em;
}
table a:hover {
  text-decoration: underline;
}
#number {
  width: 70px;
}
#date {
  width: 90px;
}
#stage {
  width: 70px;
}
#contact {
  width: 120px;
}
#price {
  width: 100px;
}
.left {
  text-align: left;
}
.emptyRow {
  height: 1.6em;
}
/* Order view */
.block {
  border: 1px black solid;
  margin: 0.5em;
  padding: 5px;
  margin-bottom: 1em;
}
.block h3 {
  margin-top: -1em;
  margin-bottom: 10px;
  background-color: var(--bg-color);
  width: fit-content;
  padding: 0 5px;
}
#order-details p,
#order-details label {
  margin: 5px;
}
.flex {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: column;
  position: relative;
}
/* Form */
input {
  width: 200px;
  height: 25px;
}
textarea {
  margin-top: 0.5em;
  height: 3em;
  width: 100%;
}
#final-price {
  font-size: 1.2em;
  width: 100%;
}
label {
  width: 50%;
}
input,
select {
  width: 100%;
}
/* Search */
#search-form {
  position: absolute;
  right: 0;
}
#search-form input {
  width: 200px;
}
#list-head {
  height: 1.5em;
}
/* Buttons */
#buttons {
  position: relative;
  height: 1.5em;
}
button,
.button {
  width: fit-content;
  padding: 2px 5px;
  font-size: 1em;
  background-color: var(--tertiary-color);
  color: var(--bg-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#buttons .button {
  position: absolute;
  right: 0.5em;
  margin: 0.5em;
}
.button-hide {
  background-color: var(--bg-color);
}
.button-hide:hover {
  background-color: var(--tertiary-color);
}
#next {
  position: absolute;
  right: 0.5em;
}
#check {
  position: absolute;
  right: 9.5em;
}
#save {
  position: absolute;
  right: 6em;
}
#cancel {
  margin-left: 0.5em;
}
.add {
  background-color: #dae064;
  color: black;
  font-size: 0.8em;
  width: 5em;
}
#check-button {
  height: fit-content;
  margin-top: 5px;
  position: absolute;
  right: 0;
}
/* Alert */
.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  background-color: var(--additional-color);
}
.alert > p {
  margin: 0;
}
.alert > span {
  cursor: pointer;
}

/* Large view adaptation */
@media screen and (min-width: 600px) {
  .logo a {
    font-size: 1.7em;
  }
  .mission {
    font-size: 1.2em;
  }
  .var-grid > li,
  .var-grid li:nth-child(1) {
    width: 20%;
    font-size: 1em;
  }
  .mobile-hide {
    display: table-cell;
  }
  table th,
  table td {
    padding: 5px;
  }
  #order-details,
  #buttons,
  #create-buttons {
    margin: 0 auto;
    max-width: 80%;
    position: relative;
  }
  #create-buttons {
    max-width: 100%;
  }
  .flex {
    flex-direction: row;
  }
  .row {
    flex-direction: row;
  }
  label {
    width: 15%;
  }
  input,
  select {
    width: 80%;
  }
  table select {
    width: 100%;
  }
  .flex p:nth-child(n),
  .client .row {
    width: 50%;
  }
  .equipment .row {
    width: 33%;
  }
  textarea {
    height: 1.5em;
  }
}

/* Animation */
@keyframes logo {
  0% {
    rotate: 0deg;
  }
  12.5% {
    rotate: 45deg;
  }
  25% {
    rotate: 90deg;
  }
  37.5% {
    rotate: 135deg;
  }
  50% {
    rotate: 180deg;
  }
  62.5% {
    rotate: 225deg;
  }
  75% {
    rotate: 270deg;
  }
  87.5% {
    rotate: 315deg;
  }
  100% {
    rotate: 360deg;
  }
}
.logo img {
  animation-name: logo;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes orders {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}
.order-scale {
  animation-name: orders;
  animation-duration: 2s;
}
